<div class="my-container">
  <div class="row justify-content-start align-items-center pt-3">
    <div class="col-auto left-arrow">
      <%= link_to family_path(current_user.families) do %>
        <%= image_tag "icons/arrow-left.svg"%>
      <% end %>
    </div>
    <div>
      <% if @kid.photo.key.present? %>
        <%= cl_image_tag @kid.photo.key, class: 'avatar-large d-block mx-auto' %>
      <% else %>
        <%= image_tag(@kid.avatar_file_name, class:'avatar-large d-block mx-auto') %>
      <% end %>
    </div>
    <h1 class="text-center"><%= @kid.first_name %></h1>
    <h2 class="text-center"><%= @kid.age %> ans</h2>
    <h2>Son monde</h2>
    <div class="d-flex w-100 flex-wrap">
      <% if @kid.answers.empty?  %>
        <p>Compléter le monde de <%= @kid.first_name %> en cliquant sur +</p>
      <% else %>
        <% @kid.answers.order(:id).reverse.each do |answer| %>
          <span class="badge st-badge rounded-pill text-white text-bg-secondary m-1 p-2"><%= answer.content.capitalize %>
            <%= link_to answer_path(answer), data: { turbo_method: :delete } do %>
              <%= image_tag "icons/x.svg" %>
            <% end %>
          </span>
        <% end %>
      <% end %>
      <%= link_to new_kid_answer_path(@kid), class: "align-items-center" do %>
        <span class="badge st-badge-plus rounded-pill text-white text-bg-secondary m-1 p-2">
          <i class="fa fa-plus"></i>
        </span>
      <% end %>
    </div>
    <% if @kid.stories.count == 1 %>
      <h2 class="mt-3">Son histoire</h2>
    <% elsif @kid.stories.count == 0 %>
      <h2>N'a pas encore d'histoire !</h2>
    <% else %>
      <h2 class="mt-3">Ses <%= @kid.stories.count %> histoires</h2>
    <% end %>
    <div class="cards-story">
      <% @kid.stories.order(:id).reverse.each do |story| %>
        <%= link_to kid_story_path(@kid, story) do %>
          <div class ="card-kid-story">
            <div class="card-top" style="background-image: url(<%= story.image.key.present? ? cl_image_path(story.image.key) : image_path(story.cover_file_name) %>)"></div>
            <div class="card-bottom">
              <div>
                <h6 class="card-title"><%= story.title.upcase %></h6>
                <p class="card-infos"><%= story.theme %> - durée <%= story.lenght %></p>
              </div>
              <div class="custom-button">Voir</div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div style="padding: 100px">
  </div>
</div>
