<div class="my-container">
  <div class="row justify-content-start align-items-center pt-3">
    <div class="col-auto left-arrow">
      <%= link_to family_path(current_user.families) do %>
        <%= image_tag "icons/arrow-left.svg"%>
      <% end %>
    </div>
    <div>
      <%= image_tag(@kid.avatar_file_name, class:'avatar-large d-block mx-auto') %>
    </div>
    <h1 class="text-center"><%= @kid.first_name %></h1>
    <h2 class="text-center mb-3"><%= @kid.age %> ans</h2>
    <h2>Son monde</h2>
    <p>@kid.answers do |answer|
          anwser.content
      end
    </p>
    <h2>Ses <%= @kid.stories.count %> histoires</h2>
    <% @kid.stories.order(:id).reverse.each do |story| %>
      <%= link_to kid_story_path(@kid, story) do %>
        <div class ="card-story">
          <div class="card-top" style="background-image: url('<%= image_path 'banner2.jpg' %>')"></div>
          <div class="card-bottom">
            <div>
              <h6 class="card-title"><%= story.title.upcase %></h6>
              <p class="card-infos"><%= story.theme %> - durée <%= story.lenght %></p>
            </div>
            <div class="custom-button">Réécouter</div>
          </div>
        </div>
      <% end %>
    <% end %>
    <a href="#" class="float">
      <%= link_to new_kid_story_path(@kid), class:"float" do %>
        <i class="fa fa-plus my-float"></i>
      <% end %>
    </a>
    <div style="padding: 100px">
    </div>
  </div>
