<div class=container>
  <h1 class="text-center text-uppercase mt-3">Les <%= @family.name  %></h1>
  <% @kids.each do |kid| %>
    <%= link_to kid_path(kid) do %>
      <%= image_tag(kid.avatar_file_name, class:'avatar-large d-block mt-5 mx-auto') %>
      <h2 class="text-center"><%= kid.first_name %></h2>
    <% end %>
  <% end %>
  <a href="#" class="float">
    <%= link_to new_family_kid_path(@family), class:"float" do %>
      <i class="fa fa-plus my-float"></i>
    <% end %>
  </a>
</div>
