<div class="container-with-margin-bottom">
  <h1 class="text-center text-uppercase mt-3">La famille <%= @family.name  %></h1>
  <p class="fs-2 pt-2">Bonjour <%= @current_user.first_name  %> 👋 !</p>
  <p class="fs-4 pt-2">À qui voulez-vous raconter une histoire aujourd'hui ?</p>
  <div class="cards">
    <% @kids.each do |kid| %>
      <%= link_to kid_path(kid), class:'card-kid' do %>
        <%= image_tag(kid.avatar_file_name, class:'avatar-large mx-auto') %>
        <h2 class="text-center"><%= kid.first_name %></h2>
      <% end %>
    <% end %>
    <%= link_to new_family_kid_path(@family), class:"float" do %>
      <i class="fa fa-plus my-float"></i>
    <% end %>
  </div>
</div>
<div class="text-center font-italic" style="padding-top: 22rem !important">
  <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, style:"valign: bottom" %>
</div>
