<nav class="mobile-nav">
  <div class="bloc-icon">
    <%= link_to root_path do %>
      <%= image_tag "icons/book-open.svg"%>
      <div>Histoires</div>
    <% end %>
  </div>
  <div class="bloc-icon">
    <%= link_to '#' do %>
      <%= image_tag "icons/play.svg"%>
      <div>Créer</div>
    <% end %>
  </div>
  <div class="bloc-icon">
    <%= link_to profile_path do %>
      <%= image_tag "icons/users.svg"%>
      <div>Ma Famille</div>
    <% end %>
  </div>
</nav>
