<nav class="mobile-nav">
  <div class="bloc-icon">
    <%= link_to root_path do %>
      <%= image_tag "icons/book-open.svg"%>
      <div>Accueil</div>
    <% end %>
  </div>
  <% if controller_name == "families" || controller_name == "kids" && action_name == "new" %>
    <div class="bloc-icon b-play">
      <%= link_to new_family_kid_path(@family) do %>
        <%= image_tag "icons/plus.svg"%>
        <div>Enfant</div>
      <% end %>
    </div>
  <% elsif controller_name == "kids" %>
    <div class="bloc-icon b-play">
      <%= link_to new_kid_story_path(@kid) do %>
        <%= image_tag "icons/plus.svg"%>
        <div>Story</div>
      <% end %>
    </div>
  <% else %>
    <div class="bloc-icon">
    </div>
  <% end %>
  <div class="bloc-icon">
    <%= link_to profile_path do %>
      <%= image_tag "icons/users.svg"%>
      <div>Ma Famille</div>
    <% end %>
  </div>
</nav>
