<nav class="mobile-nav">
  <div class="bloc-icon">
    <%= link_to '#' do %>
      <%= image_tag "icons/book-open.svg", class:"icon-color" %>
      <div>Histoires</div>
    <% end %>
  </div>
  <div class="bloc-icon">
    <%= link_to '#' do %>
      <%= image_tag "icons/play.svg", class:"icon-color" %>
      <div>Créer</div>
    <% end %>
  </div>
  <div class="bloc-icon">
    <%= link_to family_path(:id) do %>
      <%= image_tag "icons/users.svg", class:"icon-color" %>
      <div>Ma Famille</div>
    <% end %>
  </div>
</nav>
