<%= simple_form_for [@kid, @story], data: { controller: "split-form" } do |f| %>
  <div data-target="split-form.section" class="form-section active">
    <%= f.input :theme,
            as: :radio_buttons,
            collection: Story::THEMES,
            label: "Le thème de l'histoire",
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'story-theme-wrapper',
            input_html: { class: 'd-none story-theme-input' },
            label_method: lambda {|theme| render("theme_radio_label", theme: theme)}
    %>
    <button type="button" data-action="split-form#next" class="btn btn-primary next-button">Suivant</button>

  </div>

  <div data-target="split-form.section" class="form-section">
      <div>
        <label for="duration-slider" class="fw-bold">Choisissez une durée</label>

        <%= f.input :lenght,
          as: :range,
          label: false,
          input_html: {
              min: 1,
              max: 3,
              step: 1,
              id: 'duration-slider',
              class: 'duration-slider-input'
          }
        %>

        <div class="duration-legend">
          <% Story.lenghts.keys.each do |item| %>
            <span><%= item %></span>
          <% end %>
        </div>
      </div>
    <button type="button" data-action="split-form#next" class="btn btn-primary next-button">Suivant</button>
  </div>


  <div data-target="split-form.section" class="form-section">
    <%= f.simple_fields_for :answer, @answer do |a| %>
        <%= a.association :question, as: :hidden %>
        <%= a.label @contextual_question.title %>
        <%= a.input :content, as: :text, label: false, placeholder: "Votre réponse" %>
      <% end %>
    <%= f.submit "Valider", class: "custom-button w-100" %>
  </div>
<% end %>
