<div class="my-container">
  <div class="row justify-content-start align-items-center pt-3">
    <div class="col-auto left-arrow">
      <%= link_to kid_path(kid) do %>
        <%= image_tag "icons/arrow-left.svg"%>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="card-story mb-4">
        <div class="card-top" style="background-image: url(<%= story.image.attached? ? cl_image_path(story.image.key) : image_path(story.cover_file_name || "conte_de_fee.png") %>)"></div>
        <div class="card-story-bottom">
          <h4 class="card-title"><%= story.title %></h4>
          <div class="justify-content-between">
            <div class="d-flex">
              <span class="badge st-badge rounded-pill text-white text-bg-secondary m-1 p-2">
                <%= story.theme %>
              </span>
              <span class="badge st-badge rounded-pill text-white text-bg-secondary m-1 p-2">
                Durée <%= story.lenght %>
              </span>
            </div>
            <p class="my-content">
              <span class="first-letter"><%= story.content[0] %></span><%= story.content[1..-1] %>
            </p>
            <button class="custom-button w-100" data-bs-toggle="modal" data-bs-target="#readingModal">Lire l'histoire</button>
            <%= render "stories/reading_story_modal", story: story %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 100px">
  </div>
</div>
