<div class="my-container">
  <div class="row justify-content-start align-items-center pt-3">
    <div class="col-auto left-arrow">
      <%= link_to kid_path(kid) do %>
        <%= image_tag "icons/arrow-left.svg"%>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="card-story mb-4">
        <div class="card-top" style="background-image: url(<%= story.image.key.present? ? cl_image_path(story.image.key) : image_path(story.cover_file_name) %>)"></div>
        <div class="card-story-bottom">
          <h4 class="card-title"><%= story.title %></h4>
          <div class="justify-content-between">
            <p><%= story.theme %> - durée <%= story.lenght %></p>
            <div data-controller="read-more" data-mdb-toggle="modal" data-mdb-target="#readModal">
              <p class="my-content">
                <span class="my-content-first-letter"><%= story.content[0] %></span><%= story.content[1..-1] %>
              </p>
              <button class="custom-button w-100" data-mdb-toggle="modal" data-mdb-target="#exampleModal">Voir l'histoire</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding: 100px">
  </div>
</div>
