<%= form_for [@kid, @story] do |f| %>
  <div>
    <%= f.label :theme, "Type d’histoires" %>
    <%= f.select :theme, options_for_select([
      ['Aventure', 'Aventure'],
      ['Mystère', 'Mystère'],
      # ... Add other story types here ...
    ], selected: 'Aventure') %>
  </div>

  <div>
    <%= f.label :lenght, "Durée souhaitée de l'histoire" %>
    <%= f.select :lenght, ['Courte', 'Moyenne', 'Longue'] %>
  </div>

  <%= f.submit "Generate Story" %>
<% end %>
