<div class="container">
  <div class="row justify-content-start align-items-center pt-3">
    <div class="col-auto left-arrow">
      <%= link_to kid_path(@kid) do %>
        <%= image_tag "icons/arrow-left.svg"%>
      <% end %>
    </div>
    <div class="col-auto">
      <h1><%= @story.title %></h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-top" style="background-image: url('<%= image_path 'banner.jpg' %>')"></div>
        <div class="card-bottom">
          <h5 class="card-title"><%= @story.title %></h5>
          <div class="justify-content-between">
            <p><%= @story.theme %> - durée <%= @story.lenght %></p>
            <div data-controller="read-more" data-read-more-more-text-value="Voir plus" data-read-more-less-text-value="Voir moins">
              <p class="my-content" data-read-more-target="content">
                <%= @story.content %>
              </p>
              <button class="custom-button" data-action="read-more#toggle">Voir plus</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row justify-content-center align-items-center">
          <div class="col-auto">
              <%= image_tag "icons/stop-circle.svg"%>
          </div>
          <div class="col-auto">
            <div data-controller="play" data-action="click->play#go">
              <%= image_tag "icons/play-circle.svg"%>
            </div>
          </div>
          <div class="col-auto">
            <div data-controller="play" data-action="click->play#stop">
              <%= image_tag "icons/pause-circle.svg"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
